layout {
    pane split_direction="vertical" {
        pane
        pane split_direction="horizontal" {
            pane command="eza" {
                args "--color" "--tree"
            }
            pane command="git" {
                args "log"
            }
        }
    }
}
