/* ----- Style for waybar -----  */
/* --- Colors --- */
/* Configured in style.less and compiled to css with `lessc style.less style.css`. This enables defining variables and some other useful features of less */
/* -> less needs to be installed with `npm install less -g` */
/* ---Main styling--- */
* {
  padding: 0px;
  margin: 0px;
}
window#waybar {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 12px;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0);
  color: #e0f2fc;
}
tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: #e0f2fc;
}
/* --- Workspaces --- */
#workspaces button {
  padding: 0 5px;
  color: #e0f2fc;
}
#workspaces button.active {
  padding: 0 5px;
  color: rgba(220, 100, 15, 0.8);
  font-weight: bold;
  background: rgba(30, 90, 130, 0.2);
}
#workspaces button.focused {
  background: rgba(25, 75, 110, 0.5);
}
/* --- Battery --- */
#battery {
  color: #e0f2fc;
}
#battery.charging {
  color: #e0f2fc;
}
#battery.warning:not(.charging) {
  background: #f53c3c;
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/* --- Animations --- */
@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}
/* --- Spacers --- */
#custom-separator {
  background: transparent;
  padding: 0px 5px;
}
#custom-spacer {
  background: transparent;
  padding: 0px 0.5px;
}
